span {
    color: blue;
}

span:hover {
    cursor: pointer;
}

.input:focus {
    outline-width : 0;
}



.button-div button {
    background-color:  #0D1F2D;
    color: white;
    border: none;
    height: 35px;
    margin-right: 0;
    outline: none;
}

img {
    height: 20px;
    width: 20px;
    margin-right: 5%;
}

.google {
    color: #4285F4;
    font-weight: bold;
}

.google-button {
    background-color: white;
    border: 1px solid lightgray;
    margin-right: 0;
    outline: none;
}

.google-button:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px lightskyblue;
    -moz-box-shadow:    0px 0px 30px 0px lightskyblue;
    box-shadow:         0px 0px 30px 0px lightskyblue;
}

input {
    border: 0;
    background-color: whitesmoke;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.25));
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 87716da78ae26eae876a5e6b4155f259cac65927
=======
>>>>>>> ce0a73b8fb73ecb969b1ab00a68b390568b30abe
