
.recipe-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.recipe-name{
    font-weight: bold;
    font-size: larger;
}

.row {
    width: 100%;
}

.row-name {
    height: 25%;
}

.links {
    margin-top: 50px;
}

.link:hover {
    border-bottom: 2px solid #0D1F2D;
    cursor: pointer;
}

.links a {
    font-weight: bold;
    font-size: 150%;
}

.link-chosen {
    border-bottom: 2px black solid ;
}

.row-button button:hover{
    border: 1px solid #0D1F2D ;
    background-color:  #0D1F2D;
    color: white;
}

.recipe-row {
    position: relative;
}

.row-button button{
    border: 2px solid #EDB015;
    background-color: white;
    color:#EDB015;
    outline: none;
    height: 50px;
}

.button-link {
    width: 100%;
}

.row-description {
    height: 55%;
}

@media (min-width:993px) and (max-width: 1275px){
    .row-description p{
        font-size: 75%;
    }
}