.navbar {
    padding: 15px;
    background-color: #EDB015;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 7vh;
}
.nav-button button {
    padding: 0.5rem 2.5rem;
    border-radius: 16px;
    border: none;
    background-color: #0D1F2D;
    color: white;
    margin-right: 10px;
}

.nav-links :hover {
    align-self: stretch;
    border-bottom: 2px solid #0D1F2D;
    cursor: pointer;
}

