@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.navigation-bar {
    padding: 24px;
    background-color: #EDB015;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.navigation-bar a {
    color: white;
    margin-left: 50px;
}

.navigation-bar :last-child {
    margin-right: 0;
}

@media (max-width: 991px){
    .reactLink{
        margin-bottom: 20px;
    }
}

.nav button {
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border: 0;
    background-color: #0D1F2D;
    color: white;
    margin-right: 10px;
    outline-style: none;
    outline-width: 0;
    outline: none;
}

.nav-links {
    width: 10vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.nav-links:hover {
    border-bottom: 2px solid #0D1F2D;
    cursor: pointer;
}

.title{
    font-family: 'Bree Serif', serif;
    font-size: 24px;
    font-weight: bolder;
    color: white;
}

.title:hover {
    text-decoration: none;
    color: #0D1F2D;
}

 a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: white;
    text-decoration: none;
}

.reactLink {
    font-weight: bolder;
}

.reactLink:hover {
    text-decoration: none;
    color: #0D1F2D;
}
