.hero {
    position: relative;
}
.hero img {
    height: auto;
    width: 100%;
    margin: 0;
}

.herotext {
    position: absolute;
    top: 35%;
    left: 5%;
}

.herotext span {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.herotext button {
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border: 0;
    background-color: #0D1F2D;
    color: white;
    margin-right: 10px;
}

.herotext h2 {
    font-size: 2.875rem;
    font-weight: bolder;
    color: white;
}

.steps-img {
    width: 70%;
    height: auto;
    margin: 0;
}

.cta-img {
    width: 28%;
    height: auto;
    margin: 0;
}

.cta-button {
    padding: 0.5rem 6rem;
    border-radius: 50px;
    border: 0;
    background-color: #0D1F2D;
    color: white;
    text-align: center;
    box-shadow: 5px 10px #888888;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #0D1F2D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer a{
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
}

.footer a:hover {
    text-decoration: none;
}

.footer h6 {
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
    color: white;
    text-align: center;
}

p {
    line-height: 150%;
}

@media (max-width: 664px){
    .herotext h2 {
        font-size: 1.25rem;
        font-weight: bolder;
        color: white;
    }
    .herotext button {
        padding: 0.5rem 2rem;
        border-radius: 50px;
        border: 0;
        background-color: #0D1F2D;
        color: white;
        margin-right: 10px;
        font-size: small;
    }
}

@media (max-width:432px){
    .herotext {
        position: absolute;
        top: 25%;
        left: 5%;
    }

    .herotext h2 {
        font-size: 1rem;
        font-weight: bolder;
        color: white;
    }

    .herotext span {
        display: block;
        margin-bottom: 10px;
        color: white;
        font-size: small;
    }

    .herotext button {
        padding: 0.5rem 2rem;
        border-radius: 50px;
        border: 0;
        background-color: #0D1F2D;
        color: white;
        margin-right: 10px;
        font-size: 50%;
    }
}